# Introduction to Python 3

- Florent Dufour
- 2013 - 2022

## Basics

In [ ]:
# This is a comment

'''
This is a multi lines comment
'''

In [ ]:
# Imports
import sys  # All available with prefix
import time # Same
from math import * # All available without prefix
import numpy as np # All available with prefix under specified name

In [ ]:
# Hello world
print("Hello World")

In [ ]:
# Variables
name = input("What is your name? ")
print("Hi", name)

# Mess with lines
v1 = (
    1+2
    +3
)

v2 = 1 + 2 \
  +3

v3 = 2; v4 = 6 # More power to ;

a1 = a2 = "test"

In [ ]:
# Data Types
## Integers
## Floats
## Complex numbers
## Strings
## Booleans

print(type(3.))
print(sys.maxsize) # Int
print(sys.float_info.max) # float
print(type(1 + 2j))
print(type(False)) # Upprcase
print(type(True))

In [ ]:
# String
# Escape sequences with \: \' \" \t \n
str2 = '''triple quotes string'''

In [ ]:
# Casting
print(type(int(6.1)))
print(type(str(6.1)))

# chr & ord
print(type(chr(6)))
print(type(ord('f')))

# Strings

- Are immutable: Can not change character at a given index
- Unless use the .replace() method

In [ ]:
# All the prints...
print(1, 1, 1970, sep="-")
print("Not the end", end="")
print("\n%04d %s %.2f %c" % (42, "prout", 1.234, 'A'))
print("Hello" + " world")
print("Hello", "world")
longWord = "Thisisalongword"
longSentence = "    This is a long sentence     "
# ... And string manipulation
print(longWord[-1])
print(longWord[0:3])
print(longWord[:5])
print(longWord[0:-1:3])
print(longWord.replace("word", "sentence"))
print("word" in longWord)
print("word" not in longWord)
print(longWord.find("word")) # Index of the first occurence
print(longSentence.strip())  # Strip all whitespace
print(longSentence.lstrip()) # Or just on the left
print(longSentence.rstrip()) # Or just on the right
print("-".join(["str1", "str2", "str3"])) # Convert list to string
print(longSentence.strip().split(" ")).   # Convert string to list
print("JoyeuX AnniVerSaire".lower())
print("JoyeuX AnniVerSaire".upper())
print("The PIN is 897".isalnum())
print("The PIN is 897".isalpha())
print("The PIN is 897".isdigit())
# ... And prints
print(r"No \t tab or \n new line") # Raw strings: No escaped character
int1 = int2 = 5
print(f"{int1} + {int2} = {int1 + int2}")

## Math functions

In [ ]:
# Basic arithmetics
print("1 + 1 = ", 1 + 1)
print("1 - 1 = ", 1 - 1)
print("1 * 1 = ", 1 * 1)
print("1 / 1 = ", 1 / 1)
print("1 % 1 = ", 1 % 1)
print("1 ** 1 = ", 1 ** 1)
print("1 // 1 = ", 1 // 1)

a = 1
a += 1
a -= 1
a *= 1

# Math library
import math
print(abs(-10))
print(math.cos(math.pi))
#math.radians()...
print(math.inf - math.inf)

In [ ]:
# Random stuff
import random

print(random.randint(0, 100))

## Conditionals

In [ ]:
# Comparison operators
# > < >= <= == !=
age = 20

if age > 18:
  print("Ok!")
elif age >= 16:
  print("almost Ok.")
else:
  print("Not Ok.")

In [ ]:
# Logical operators
## and or not

if age < 5:
  print("Stay home.")
elif (age >= 5) and (age <= 6):
  print("Goto kindergarten")
elif (age > 6) and (age <= 17):
  print("Grade", (age - 5))
else:
  print("college")

## Ternary operator

can_vote = True if age >= 18 else False
print(can_vote)

## Lists

- Contain mutable piece of data
- Can contain different data types
- Can contain functions

In [ ]:
l1 = [1, 2, 3, 4.5, True, "Test"]
len(l1)
print(l1[3])
l1[2:3] = ["inserted1", "inserted2"]
print(l1)
l1.remove("Test")       # Remove given item
l1.pop(2)               # Remove given item by index
l1 = ["To", "Add"] + l1 # Add to the beginning
l1 = l1 + ["To", "Add"] # Add to the end
twod = [[1, 2], [3, 3]] # Two dimensions
print(twod[1][1])
print([1, 2] in twod)
print(min([1, 2, 3]))
print(max([1, 2, 3]))

# Loops

In [ ]:
# While

w1 = 1
while w1 < 5:
  print(w1)
  w1 += 1

w2 = 0
while w2 <= 20:
  if w2 % 2 == 0:
    print(w2, "is even")
  w2 += 1

w3 = [1, 2, 3, True, "bonjour"]
while len(w3):
  print(w3.pop(0)) # That's destructive
print(w3)

In [ ]:
# For

for i in range(0, 10): # 0 to 10 not included
  print(i, " ", end="")

for i in [1, 2, 4, 9, True, "Bonjour"]:
  print(i, " ", end="")

In [ ]:
# Iterators

lst = [1, 2, 3]
iterable = iter(lst) # Cast
print(next(iterable))
print(next(iterable))
print(next(iterable))

In [ ]:
# Range

print(list(range(0, 10, 2)))

# Tuples

- Are like lists but immutable
- Everthing you can do with a list, you can do with a tuple

In [ ]:
t1 = (1, 3, "False")
print(len(t1))
print(t1[0])
print(t1[0:2])

# Dictionaries

- List of key/value pairs
- Can be of any data type

In [ ]:
heroes = {
    "Superman": "Clark Kent",
    "Batman": "Bruce Wayne"
}
print(heroes)
print(len(heroes))              # Len of dict
print(heroes["Superman"])       # Get element by key
heroes["Flash"] = "Barry Allan" # Add an element
heroes["Flash"] = "Barry Allen" # Modify an element
print(heroes)
print(list(heroes.items()))  # List of tuples: Key and value
print(list(heroes.keys()))   # List keys
print(list(heroes.values())) # List values


villains = dict([
  ("Lex Luthor", "Lex Luthor"),
  ("Loki", "Loki")
])
print(villains)
del villains["Loki"]       # Deletes
villains.pop("Lex Luthor") # Delete and return deleted  it
print("Loki" in villains)


products = {"product": "bread", "price": 1.129}
print("%(product)s costs €%(price).2f" % products)

# Sets

- Unordered list
- Uique values
- Immutable

In [ ]:
s1 = set(["str1", "str2", "str3", "prout", "Bonjour", True, 3.45])
s2 = {"Bonjour", "Au revoir", False}
s3 = s1 | s2 # Join sets
print(s3)
s3.add(3.14)       # Add an element
s3.discard("str2") # Remove an element
s3.pop()           # Remove a random element as it is unordered
s3 |= s2           # Add a set to a set (values already inside are ignored)
print(s1.intersection(s3))         # Intersection between two set
print(s1.symmetric_difference(s2)) # All unique value
print(s1.difference(s2))           # All unique value
s3.clear()                         # Clear the set
print(s3)
s4 = frozenset(["Hello", "world"]) # Set can not be changed in any way (above doesn't work)

# Functions

- Provide code reuse and organisation

In [ ]:
# We know how many arguments
def get_sum(num1: int, num2: int): # With function annotation: Type and default value
  return num1 + num2

def get_sum(num1: int=1, num2: int=1): # With function annotation: Type and default value
  return num1 + num2

print(get_sum(2, 8))

In [ ]:
# We don't know how many arguments
def get_sum(*args):
  sum = 0
  for arg in args:
    sum += arg
  return sum

print(get_sum(1, 3, 6, 8))

In [ ]:
# Return multiple values
def next_2(num):
  return num + 1, num + 2

next, nextnext = next_2(1)

In [ ]:
# Function that makes a function
def mult_by(num):
  return lambda x: x * num
print("3 x 5:", mult_by(3)(5)) # num * x

# Pass a function to a function
def mult_list(list, func):
  for x in list:
    print(func(x))

mult_by_4 = mult_by(4)
mult_list(list(range(0, 5)), mult_by_4)

In [ ]:
# Can even put functions in lists
power_list = [lambda x: x ** 2, lambda x: x** 3]

In [ ]:
# Maps: Apply to list elements

one_to_4 = range(1, 5)
times_2 = lambda x: x * 2
print(list(map(times_2, one_to_4)))

# Filter: Only select given elements

print(list(filter(lambda x: x % 2 == 0, range(0, 10))))

# Reduce: Take lists and return single result

from functools import reduce
print(reduce((lambda x, y: x + y), range(0, 10)))

# Exceptions

- Use try blocks

In [ ]:
while True:
  try:
    number = int(input("Please enter a number: "))
    print("You entered the number", number)
    break
  except ValueError:
    print("You didn't enter a number!")

# Persistent data

In [ ]:
with open("my_data.txt", mode="w", encoding="utf-8") as my_data: # "with" to automatically close file
  my_data.write("Some text")

In [ ]:
with open("my_data.txt", mode="r", encoding="utf-8") as my_data:
  print(my_data.read())

# Classes and objects

In [ ]:
# define a function
class Square:
  def __init__(self, height=0, width=0): # Function called whrn the object is created
    self.height = height
    self.width  = width
  
  # Getter
  @property
  def get_height(self):
    return self.height

  # Setter
  #@height.setter
  def set_height(self, newHeight):
    if newHeight.isdigit():
      self.height = newHeight
    else:
      print("Please enter a digit")

  def get_area(self):
    return int(self.width) * int(self.height)

In [ ]:
square = Square(10, 10)
square.get_area()

In [ ]:
# Inheritance
class Animal:
  def __init__(self, name="unknown", weight=0):
    self.__name = name
    self.__weight = weight
  
  def get_name(self):
    return self.__name

  @property
  def set_name(self, name: str):
    self.__name = name

  def make_noise(self):
    return "Grrrr"

  def __str__(self):
    return "{} is a {} and says {}".format(self.__name, type(self), self.make_noise())
  
  # Magic methods: operator overloading
  def __gt__(self, other):
    if self.__weight > other.__weight:
      return True
    else:
      return False
# __eq__ __add__ etc.

In [ ]:
animal = Animal("Fish", 100)
animal.get_name()
print(animal)

In [ ]:
class Dog(Animal): # Inherit animal
  def __init__(self, name="Unknown dog", owner="Uknown owner", weight=0):
    Animal.__init__(self, name, weight) # Use super constructir
    self.__owner = owner # Add the owner

  def __str__(self):
    return super().__str__() + " and is owned by: {}".format(self.__owner)

In [ ]:
doggy = Dog("Bob", "Papa", 50)
print(doggy)
print(animal > doggy)

# Polymorphism
# Functions accept any object, and expect that it's gonna work

# Threads

In [ ]:
import threading
import random
import time

# Define the thread task
def execute_thread(i):
  print("Thread {} sleeps at {}".format(i, time.strftime("%H:%M:%S"), time.gmtime()))
  random_sleep_time = random.randint(1, 5)
  time.sleep(random_sleep_time)
  print("Thread {} stops sleeping at {}".format(i, time.strftime("%H:%M:%S"), time.gmtime()))

# Create threads
for i in range(10):
  thread = threading.Thread(target=execute_thread, args=(i,))
  thread.start() # Thread are open in order
  print("Active thread:", threading.activeCount())
  #print("Thread objects:", threading.enumerate())

# Regular expressions

In [ ]:
import re

# Is there a match?
if re.search("ape", "The ape at the apex"):
  print("There is an ape")

# Get every single match
allApes = re.findall("ape", "The ape at the apex")
for i in allApes:
  print(i)

# Get an iterator for all the matching objects
string = "The ape at the apex"
for i in re.finditer("ape.", string): # "ape" followed by a single character
  location = i.span()
  print(location)
  print(string[location[0]:location[-1]])

# Database

- SQLite

In [ ]:
import sqlite3
import sys
import csv

In [ ]:
db_conn = sqlite3.connect("test.db") # Create DB if not existing
theCursor = db_conn.cursor() # We have a cursor

In [ ]:
def print_DB():
  try:
    result = theCursor.execute("SELECT id, FName, LName, Age, Address, Salary, HireDate FROM Employees")
    for row in result:
      print("ID :", row[0])
      print("FName :", row[1])
      print("LName :", row[2])
      print("Age :", row[3])
      print("Address :", row[4])
      print("Salary :", row[5])
      print("HireDate :", row[6])
  except sqlite3.OperationalError:
    print("The Table Doesn't Exist")
  except:
    print("Couldn't Retrieve Data From Database")

# First need to create the table
try:
  db_conn.execute("CREATE TABLE Employees(ID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, FName TEXT NOT NULL, LName TEXT NOT NULL, Age INT NOT NULL, Address TEXT, Salary REAL, HireDate TEXT);")
  db_conn.commit()
  print("Table Created")
except sqlite3.OperationalError:
  print("Table couldn't be Created")

# Add employee to DB
db_conn.execute("INSERT INTO Employees (FName, LName, Age, Address, Salary, HireDate) VALUES ('Derek', 'Banas', 41, '123 Main St', '500,000', date('now'))")
db_conn.commit()
print_DB()
db_conn.execute("DROP TABLE IF EXISTS Employees")
db_conn.close()

# Recursive functions

In [ ]:
# Recursive
def factorial(num):
  if num <= 1:
    return 1
  else:
    result = num * factorial(num - 1)
    return result

print(factorial(4))